.backgroundBlue {
    -fx-background-color: #385ba4;
}

.fontWhite {
    -fx-text-fill: #eee;
}

.label-rating {
    -fx-text-fill: #eee;
    -fx-font-style: System Bold;
    -fx-font-size: 18;
}

.label-ratio {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 25;
}

#btn_logIn {
    -fx-padding: 0 5 5 10;
}

.current-date-time {
    -fx-padding: 0 0 5 10;
}

.welcome-message {
    -fx-font-size: 24;
    -fx-padding: 0 0 0 10;
}